# Ignore compiled Python files
*.pyc

# Ignore Python bytecode cache directory
__pycache__/

# Ignore environment variable files
*.env

# Ignore media files
media/

# Ignore static files
staticfiles/

# Ignore SQLite database
db.sqlite3

# Ignore virtual environment directory
venv/

migrations/

results/

video/NER/ModelNERNew/data/chars.txt

video/NER/ModelNERNew/data/tags.txt

video/NER/ModelNERNew/data/words.txt


*.npz
video/NER/ModelNERNew/data/glove.6B/glove.6B.50d.txt
video/NER/ModelNERNew/data/glove.6B/glove.6B.100d.txt
video/NER/ModelNERNew/data/glove.6B/glove.6B.200d.txt
video/NER/ModelNERNew/data/glove.6B/glove.6B.300d.txt